<!doctype html>
<html>
	<head>
		<title> Air Quality Map </title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- leaflet stylesheet -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
			integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
			crossorigin=""/>
		<!-- leaflet script -->
		<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
			integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
			crossorigin=""></script>
		<!-- vue script -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<!-- jquery script -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- our stylesheet -->
		<link rel="stylesheet" href="style.css"/>
      <! <link rel = "stylesheet" href = "normalize.css"/>
      <! <link rel = "stylesheet" href = "skeleton.css"/>
	</head>

	<body>
		<!-- navigation panel -->
	   <div class ="container">
			<div class ="row" style = "background: #bfb7b8;">
				<div class ="six columns" style = "background: grey; float: left;   ">
					<!-- page header -->
					<h1 id="header"> Air Quality Map </h1>


					<div id="fullscreen" style="background-color: lightgrey; width: 100%;">
						<!-- input box -->
						<div id="inputbox">
							<p>
								Latitude: <input v-model="latitude">
								<br>
								Longitude: <input v-model="longitude">
								<br>
								<button style="background-color: #32224F; color: white;" v-on:click="changeLatLng"> Change Coordinates </button>
							</p>
							<p>
								Location:
								<input v-model="location">

								<button style="background-color: #32224F; color: white;" v-on:click="changeLoc"> Change Location </button>
								<br>
							</p>
							<p>
								Filter By Particle:
								<select v-model="filter">
								<option value="none"> All Particles </option>
								<option value="o3"> Ozone </option>
								<option value="pm2.5"> PM2.5 </option>
								<option value="pm10"> PM10 </option>
								<option value="co"> CO </option>
								<option value="NO2"> NO2 </option>
								<option value="SO2"> SO2 </option>
								</select>

								<button style="background-color: #32224F; color: white;" v-on:click="changeLatLng"> Filter </button>
							</p>
						</div>
						<div id="map"> </div>

					</div>
					<div id="table1">
						</br>
						<!-- legend -->
						<div id="under">
							<table id="legend">
								<tr>
									<td><span style="background-color:#00ff04">____</span></td>
									<td>Good</td>
									<td><span style="background-color:#eeff00">____</span></td>
									<td>Moderate</td>
									<td><span style="background-color:#ffc700">____</span></td>
									<td>Unhealthy for Sensitive Groups</td>
									<td><span style="background-color:#ff002e">____</span></td>
									<td>Unhealthy</td>
									<td><span style="background-color:#9800ff">____</span></td>
									<td>Very Unhealthy</td>
									<td><span style="background-color:#8c0046">____</span></td>
									<td>Hazardous</td>
								</tr>
							</table>
						</div>
						<!-- table -->
						<h2 id="tableheader"> Air Quality Measurements </h1>
						</br>
						<div id="table">
							<table id="results" align="center">
								<tr>
									<td><b> Particle </b></td>
									<td><b> Value </b></td>
									<td><b> Unit </b></td>
									<td><b> Location </b></td>
									<td><b> Date </b></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class ="six columns" style = "background: grey; float: left; ">
					<!-- page header -->
					<h1 id="header2"> Air Quality Map </h1>


					<div id="fullscreen2" style="background-color: lightgrey; width: 100%;">
						<!-- input box -->
						<div id="inputbox2">
							<p>
								Latitude: <input v-model="latitude2">
								<br>
								Longitude: <input v-model="longitude2">
								<br>
								<button style="background-color: #32224F; color: white;" v-on:click="changeLatLng2"> Change Coordinates </button>
							</p>
							<p>
								Location:
								<input v-model="location2">

								<button style="background-color: #32224F; color: white;" v-on:click="changeLoc2"> Change Location </button>
								<br>
							</p>
							<p>
								Filter By Particle:
								<select v-model="filter2">
								<option value="none"> All Particles </option>
								<option value="o3"> Ozone </option>
								<option value="pm2.5"> PM2.5 </option>
								<option value="pm10"> PM10 </option>
								<option value="co"> CO </option>
								<option value="NO2"> NO2 </option>
								<option value="SO2"> SO2 </option>
								</select>

								<button style="background-color: #32224F; color: white;" v-on:click="changeLatLng2"> Filter </button>
							</p>
						</div>
						<div id="map2"> </div>

					</div>
					<div id="table2">
						</br>
						<!-- legend -->
						<div id="under2">
							<table id="legend2">
								<tr>
									<td><span style="background-color:#00ff04">____</span></td>
									<td>Good</td>
									<td><span style="background-color:#eeff00">____</span></td>
									<td>Moderate</td>
									<td><span style="background-color:#ffc700">____</span></td>
									<td>Unhealthy for Sensitive Groups</td>
									<td><span style="background-color:#ff002e">____</span></td>
									<td>Unhealthy</td>
									<td><span style="background-color:#9800ff">____</span></td>
									<td>Very Unhealthy</td>
									<td><span style="background-color:#8c0046">____</span></td>
									<td>Hazardous</td>
								</tr>
							</table>
						</div>
						<!-- table -->
						<h1 id="tableheader2"> Air Quality Measurements </h1>
						</br>
						<div id="table2">
							<table id="results2" align="center">
								<tr>
									<td><b> Particle </b></td>
									<td><b> Value </b></td>
									<td><b> Unit </b></td>
									<td><b> Location </b></td>
									<td><b> Date </b></td>
								</tr>
							</table>
						</div>
				</div>
			</div>
		</div>
		<script src="script.js"> </script>
	</body>

</html>
